.remark-slides-area {
    background-color: black;
}

.remark-slide-content .myheader {
    color: #696969;
    font-size: .5em;
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
}

.gray {
    color: gray;
}

.red {
    color: red !important;
}

.remark-slide-content h2 {
    font-size: 2.2rem !important;
}

.bq-shrink {
    font-size: 1.2rem;
}

.ul-space li {
    margin: 0 0 1rem 0;
}